extends layouts/main

block title
    title
      | VeteranShares 

block description
  meta(name='description', content='Earn free accomodation or cash today!')



block content
  include includes/header
  include includes/banner
  include includes/intro
  include includes/main
  include includes/contact
  include includes/blog



