extends layouts/main

block title
    title
      | VeteranShares 

block description
  meta(name='description', content='Earn free accomodation or cash today!')



block content
  include includes/header
  include includes/main



