// footer
section#footer
  .container
    .row
      .col-8.col-12-medium
        section
          header
            h2 Recent News
          ul.dates
            li
              span.date
                | June 
                strong 15
              h3
                a(href='#') Randolph Street Fest
              p
                | We were excited to see a huge turnout to our booth at the Randolph Street Festival in Chicago. Over 200 letters signed urging Mayor Rahm Emanuel.
            li
              span.date
                | June  
                strong 2
              h3
                a(href='#') Division Street Fest
              p
                | Our first public debut at the Division Street Festival in Chicago saw huge support for Airbnb, and we were excited to meet dozens of Airbnb hosts who shared our vision. 
            li
              span.date
                | May 
                strong 15
              h3
                a(href='#') VeteranShare LLC Established
              p
                | We're here! We can't wait to hear your stories!
      .col-4.col-12-medium
        section
          header
            h2 What's this all about?
          a.image.featured(href='#')
            img(src='images/pic10.jpg', alt='')
          p 
            strong VeteranShare LLC 
            | is a non profit organization dedicated to combating unfair legislation against AirBnb hosts, and we're giving Active Service Members a chance to earn big money or free housing.
          footer
            ul.actions
              li
                a.button(href='/resources') Find out more
      .col-4.col-6-medium.col-12-small
        section
          header
            h2 AirBnb Host Resources
          ul.divided
            li
              a(href='#') Lorem ipsum dolor sit amet sit veroeros
            li
              a(href='#') Sed et blandit consequat sed tlorem blandit
            li
              a(href='#') Adipiscing feugiat phasellus sed tempus
      .col-4.col-6-medium.col-12-small
        section
          header
            h2 Active Service Resources
          ul.divided
            li
              a(href='#') Lorem ipsum dolor sit amet sit veroeros
            li
              a(href='#') Sed et blandit consequat sed tlorem blandit
            li
              a(href='#') Adipiscing feugiat phasellus sed tempus
      .col-4.col-12-medium
        section
          header
            h2 Contact Us
          ul.social
            li
              a.icon.fa-facebook(href='#')
                span.label Facebook
            li
              a.icon.fa-twitter(href='#')
                span.label Twitter
            li
              a.icon.fa-dribbble(href='#')
                span.label Dribbble
            li
              a.icon.fa-tumblr(href='#')
                span.label Tumblr
            li
              a.icon.fa-linkedin(href='#')
                span.label LinkedIn
          ul.contact
            li
              h3 Mail
              p
                a(href='#') info@veteranshare.org
      .col-12
        // Copyright
        #copyright
          ul.links
            li © VeteranShare. All rights reserved.
            li
              | Design: 
              a(href='http://fullbarsmedia.com') FullBarsMedia

// //footer
    
// Load JavaScript
| <!-- inject:js --><!-- endinject -->