body.homepage.is-preload
  #page-wrapper
    // Header
    section#header
      // Logo
      h1
        a(href='index.html') Dopetrope
      // Nav
      nav#nav
        ul
          li.current
            a(href='index.html') Home
          li
            a(href='#') Dropdown
            ul
              li
                a(href='#') Lorem ipsum dolor
              li
                a(href='#') Magna phasellus
              li
                a(href='#') Etiam dolore nisl
              li
                a(href='#') Phasellus consequat
                ul
                  li
                    a(href='#') Magna phasellus
                  li
                    a(href='#') Etiam dolore nisl
                  li
                    a(href='#') Veroeros feugiat
                  li
                    a(href='#') Nisl sed aliquam
                  li
                    a(href='#') Dolore adipiscing
              li
                a(href='#') Veroeros feugiat
          li
            a(href='left-sidebar.html') Left Sidebar
          li
            a(href='right-sidebar.html') Right Sidebar
          li
            a(href='no-sidebar.html') No Sidebar
      // Banner
      section#banner
        header
          h2 Howdy. This is Dopetrope.
          p A responsive template by HTML5 UP
      // Intro
      section#intro.container
        .row
          .col-4.col-12-medium
            section.first
              i.icon.featured.fa-cog
              header
                h2 Ipsum consequat
              p
                | Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
          .col-4.col-12-medium
            section.middle
              i.icon.featured.alt.fa-flash
              header
                h2 Magna etiam dolor
              p
                | Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
          .col-4.col-12-medium
            section.last
              i.icon.featured.alt2.fa-star
              header
                h2 Tempus adipiscing
              p
                | Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
        footer
          ul.actions
            li
              a.button.large(href='#') Get Started
            li
              a.button.alt.large(href='#') Learn More
    // Main
    section#main
      .container
        .row
          .col-12
            // Portfolio
            section
              header.major
                h2 My Portfolio
              .row
                .col-4.col-6-medium.col-12-small
                  section.box
                    a.image.featured(href='#')
                      img(src='images/pic02.jpg', alt='')
                    header
                      h3 Ipsum feugiat et dolor
                    p
                      | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                      ul.actions
                        li
                          a.button.alt(href='#') Find out more
                .col-4.col-6-medium.col-12-small
                  section.box
                    a.image.featured(href='#')
                      img(src='images/pic03.jpg', alt='')
                    header
                      h3 Sed etiam lorem nulla
                    p
                      | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                      ul.actions
                        li
                          a.button.alt(href='#') Find out more
                .col-4.col-6-medium.col-12-small
                  section.box
                    a.image.featured(href='#')
                      img(src='images/pic04.jpg', alt='')
                    header
                      h3 Consequat et tempus
                    p
                      | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                      ul.actions
                        li
                          a.button.alt(href='#') Find out more
                .col-4.col-6-medium.col-12-small
                  section.box
                    a.image.featured(href='#')
                      img(src='images/pic05.jpg', alt='')
                    header
                      h3 Blandit sed adipiscing
                    p
                      | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                      ul.actions
                        li
                          a.button.alt(href='#') Find out more
                .col-4.col-6-medium.col-12-small
                  section.box
                    a.image.featured(href='#')
                      img(src='images/pic06.jpg', alt='')
                    header
                      h3 Etiam nisl consequat
                    p
                      | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                      ul.actions
                        li
                          a.button.alt(href='#') Find out more
                .col-4.col-6-medium.col-12-small
                  section.box
                    a.image.featured(href='#')
                      img(src='images/pic07.jpg', alt='')
                    header
                      h3 Dolore nisl feugiat
                    p
                      | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                      ul.actions
                        li
                          a.button.alt(href='#') Find out more
          .col-12
            // Blog
            section
              header.major
                h2 The Blog
              .row
                .col-6.col-12-small
                  section.box
                    a.image.featured(href='#')
                      img(src='images/pic08.jpg', alt='')
                    header
                      h3 Magna tempus consequat
                      p Posted 45 minutes ago
                    p
                      | Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
                    footer
                      ul.actions
                        li
                          a.button.icon.fa-file-text(href='#') Continue Reading
                        li
                          a.button.alt.icon.fa-comment(href='#') 33 comments
                .col-6.col-12-small
                  section.box
                    a.image.featured(href='#')
                      img(src='images/pic09.jpg', alt='')
                    header
                      h3 Aptent veroeros aliquam
                      p Posted 45 minutes ago
                    p
                      | Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
                    footer
                      ul.actions
                        li
                          a.button.icon.fa-file-text(href='#') Continue Reading
                        li
                          a.button.alt.icon.fa-comment(href='#') 33 comments